.profilePage {
    position: relative;
    width: 0%;
    min-height: 100vh;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    &.opened {
        left: 70px;
        width: calc(100% - 70px);
        padding: 50px 0;
        .profile-container {
            display: block;
            padding: 10px;
        }
    }
    &.navi {
        left: 270px;
        width: calc(100% - 270px);
    }
    .profile-container {
        position: relative;
        width: calc(100% - 200px);
        min-height: calc(100% - 100px);
        border: 2px solid #d9dfeb;
        display: flex;
        flex-direction: column;
        display: none;
        .typeButton {
            position: absolute;
            top: 5px;
            right: 5px;
            display: none;
            z-index: 1;
            transition: 1s;
            button {
                background: #f7ebff;
                border: none;
                display: inline-block;
                padding: 3px 5px;
                color: #981ee5;
                font-size: 0.8em;
                cursor: pointer;
            }
        }
        &:hover {
            .typeButton {
                display: block;
            }
        }
        .profile-intro {
            position: relative;
            width: 100%;
            height: 300px;
            padding: 10px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border: 2px solid #d9dfeb;
            border-radius: 5px;
            transition: 0.1s;
            &:hover {
                border: 2px solid #03bcf4;
            }
            .profile-upload {
                position: relative;
                width: 40%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .profile-upload-content {
                    position: relative;
                    width: 200px;
                    height: 250px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .profile-preview {
                        position: relative;
                        width: 180px;
                        height: 180px;
                        border-radius: 50%;
                        border: 3px dashed #222;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        overflow: hidden;
                        img {
                            position: relative;
                            width: 100%;
                            transform: scale(0.8);
                        }
                    }
                }
            }
            .profile-form {
                position: relative;
                width: 40%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                form {
                    width: 300px;
                    position: relative;
                    div {
                        height: 35px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        label {
                            width: 100%;
                            height: 30px;
                            line-height: 30px;
                            input[type="text"] {
                                position: absolute;
                                right: 0;
                                width: 180px;
                                height: 30px;
                                padding: 3px 5px;
                                outline: none;
                                border: 2px solid #d9dfeb;
                                border-radius: 5px;
                                &:hover {
                                    border: 2px solid #03bcf4;
                                }
                                &:focus {
                                    border: 2px solid #03bcf4;
                                }
                            }
                        }
                    }
                }
            }
        }
        .profile-main {
            position: relative;
            width: 100%;
            padding: 10px;
            border: 2px solid #d9dfeb;
            border-radius: 5px;
            margin-top: 10px;
            transition: 0.1s;
            &:hover {
                border: 2px solid #03bcf4;
            }
            .profile-timeline-form {
                position: relative;
                width: 100%;
                min-height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                form {
                    position: relative;
                    width: 50%;
                    height: 100%;
                    border: 2px solid #d9dfeb;
                    border-radius: 5px;
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    &:hover {
                        border: 2px solid #03bcf4;
                    }
                    .buttonArea {
                        position: absolute;
                        top: 5px;
                        right: 5px ;
                        button {
                            background: #FFEBEE;
                            border: none;
                            display: inline-block;
                            padding: 3px 5px;
                            color: #e51e2a;
                            font-size: 0.8em;
                            cursor: pointer;
                        }
                    }
                    .timeline-form {
                        position: relative;
                        width: 100%;
                        min-height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        label {
                            position: relative;
                            width: 100%;
                            min-height: 50px;
                            font-size: 0.5em;
                            letter-spacing: 2px;
                            input[type="text"] {
                                position: relative;
                                width: 100%;
                                height: 30px;
                                padding: 3px 5px;
                                outline: none;
                                border: 2px solid #d9dfeb;
                                border-radius: 5px;
                                &:hover {
                                    border: 2px solid #03bcf4;
                                }
                                &:focus {
                                    border: 2px solid #03bcf4;
                                }
                            }
                            textarea {
                                position: relative;
                                width: 100%;
                                height: 100px;
                                padding: 3px 5px;
                                outline: none;
                                resize: none;
                                border: 2px solid #d9dfeb;
                                border-radius: 5px;
                                &:hover {
                                    border: 2px solid #03bcf4;
                                }
                                &:focus {
                                    border: 2px solid #03bcf4;
                                }
                            }
                            .start, .end {
                                position: relative;
                                width: 40%;
                                height: 30px;
                                border: 2px solid #d9dfeb;
                                border-radius: 5px;
                                cursor: pointer;
                                &:hover {
                                    border: 2px solid #03bcf4;
                                }
                                .dateText {
                                    position: relative;
                                    width: 100%;
                                    height: 30px;
                                    text-align: center;
                                    line-height: 30px;
                                }
                                .picker {
                                    display: none;
                                    position: absolute;
                                    top: 100%;
                                    left: 0;
                                    right: 0;
                                    background: #5d5c58;
                                    color: #fff;
                                    padding: 10px;
                                    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
                                    .year {
                                        display: flex;
                                        justify-content: space-around;
                                        align-items: center;
                                    }
                                    .months {
                                        display: grid;
                                        grid-template-columns: repeat(4, 1fr);
                                        div {
                                            text-align: center;
                                            cursor: pointer;
                                            border: 2px solid transparent;
                                            &:hover {
                                                border: 2px solid #9c99a2;
                                            }
                                            &.selected {
                                                background: #9c99a2;
                                            }
                                        }
                                    }
                                }
                                &.selected {
                                    .dateText {
                                        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
                                        cursor: pointer;
                                    }
                                    .picker {
                                        display: block;
                                        z-index: 1;
                                    }
                                }
                            }
                            .start {
                                float: left;
                            }
                            .end {
                                float: right;
                            }
                        }
                        &:nth-child(2) {
                            margin-top: 15px;
                        }
                        &:nth-child(4) {
                            label {
                                &::before {
                                    content: '~';
                                    position: absolute;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    top: 18px;
                                    font-size: 2em;
                                }
                            }
                        }
                        .tagArea {
                            position: relative;
                            width: 100%;
                            min-height: 30px;
                            padding: 3px 5px;
                            outline: none;
                            border: 2px solid #d9dfeb;
                            border-radius: 5px;
                            display: flex;
                            flex-wrap: wrap;
                            &:hover {
                                border: 2px solid #03bcf4;
                            }
                            li {
                                list-style: none;
                                &:nth-child(1) {
                                    width: 100%;
                                }
                                input[type="text"] {
                                    padding: 0;
                                    border: none;
                                    height: 20px;
                                }
                                &.tag {
                                    position: relative;
                                    display: inline-block;
                                    padding: 0 5px;
                                    padding-right: 24px;
                                    height: 24px;
                                    line-height: 22px;
                                    border: 2px solid #d9dfeb;
                                    font-size: 1em;
                                    margin-right: 10px;
                                    border-radius: 5px;
                                    span {
                                        position: absolute;
                                        right: 0;
                                        width: 20px;
                                        height: 20px;
                                        cursor: pointer;
                                        &::before {
                                            position: absolute;
                                            content: '';
                                            top: 50%;
                                            left: 50%;
                                            transform: translate(-50%, -50%) rotate(45deg);
                                            width: 10px;
                                            height: 2px;
                                            background: #222;
                                        }
                                        &::after {
                                            position: absolute;
                                            content: '';
                                            top: 50%;
                                            left: 50%;
                                            transform: translate(-50%, -50%) rotate(-45deg);
                                            width: 10px;
                                            height: 2px;
                                            background: #222;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .profile-timeline {
                position: relative;
                width: 100%;
                min-height: 100px;
                margin-top: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 20%;
                    width: 20px;
                    height: 20px;
                    background: #e7e7e7;
                    border-radius: 50%;
                    border: 5px solid #303334;
                    transform: translateX(-50%);
                }
                .profile-timeline-container {
                    position: relative;
                    width: 60%;
                    margin-top: 15px;
                    display: flex;
                    flex-direction: column;
                    .profile-timeline-content {
                        position: relative;
                        width: 100%;
                        min-height: 100px;
                        padding: 10px;
                        display: flex;
                        justify-content: center;
                        .profile-timeline-project {
                            position: relative;
                            width: calc((100% + 20px)/6*5);
                            height: 100%;
                            border: 2px solid #d9dfeb;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
    }
}