.profilePage {
    position: relative;
    width: 0%;
    min-height: 100vh;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    &.opened {
        left: 70px;
        width: calc(100% - 70px);
        padding: 50px 0;
        .profile-container {
            display: block;
            padding: 10px;
        }
    }
    &.navi {
        left: 270px;
        width: calc(100% - 270px);
    }
    .profile-container {
        position: relative;
        width: calc(100% - 200px);
        min-height: calc(100% - 100px);
        border: 2px solid #d9dfeb;
        display: flex;
        flex-direction: column;
        display: none;
        .profile-intro {
            position: relative;
            width: 100%;
            height: 300px;
            padding: 10px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border: 2px solid #d9dfeb;
            border-radius: 5px;
            transition: 0.1s;
            &:hover {
                border: 2px solid #03bcf4;
            }
            .profile-upload {
                position: relative;
                width: 40%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .profile-upload-content {
                    position: relative;
                    width: 200px;
                    height: 250px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .profile-preview {
                        position: relative;
                        width: 180px;
                        height: 180px;
                        border-radius: 50%;
                        border: 3px dashed #222;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        overflow: hidden;
                        img {
                            position: relative;
                            width: 100%;
                            transform: scale(0.8);
                        }
                    }
                }
            }
            .profile-form {
                position: relative;
                width: 40%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                form {
                    width: 300px;
                    position: relative;
                    div {
                        height: 35px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        label {
                            width: 100%;
                            height: 30px;
                            line-height: 30px;
                            input[type="text"] {
                                position: absolute;
                                right: 0;
                                width: 180px;
                                height: 30px;
                                padding: 3px 5px;
                                outline: none;
                                border: 2px solid #d9dfeb;
                                border-radius: 5px;
                                &:hover {
                                    border: 2px solid #03bcf4;
                                }
                                &:focus {
                                    border: 2px solid #03bcf4;
                                }
                            }
                        }
                    }
                }
            }
        }
        .profile-main {
            position: relative;
            width: 100%;
            padding: 10px;
            border: 2px solid #d9dfeb;
            border-radius: 5px;
            margin-top: 10px;
            transition: 0.1s;
            &:hover {
                border: 2px solid #03bcf4;
            }
            .profile-timeline-form {
                position: relative;
                width: 100%;
                height: 300px;
                display: flex;
                justify-content: center;
                align-items: center;
                form {
                    position: relative;
                    width: 50%;
                    height: 100%;
                    border: 2px solid #d9dfeb;
                    border-radius: 5px;
                    padding: 10px;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(6, 1fr);
                    &:hover {
                        border: 2px solid #03bcf4;
                    }
                    div {
                        position: relative;
                        width: 100%;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
            .profile-timeline {
                position: relative;
                width: 100%;
                min-height: 100px;
                &::before {
                    content: '';
                    position: absolute;
                    left: 25%;
                    width: 20px;
                    height: 20px;
                    background: #e7e7e7;
                    border-radius: 50%;
                    border: 5px solid #303334;
                    transform: translateX(-50%);
                }
            }
        }
    }
}